<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span jhiTranslate="spaghettomatosApp.category.detail.title">Category</span> {{ category.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spaghettomatosApp.category.name">Name</span></dt>
                <dd>
                    <span>{{ category.name }}</span>
                </dd>
                <dt><span jhiTranslate="spaghettomatosApp.category.description">Description</span></dt>
                <dd>
                    <span>{{ category.description }}</span>
                </dd>
                <dt><span jhiTranslate="spaghettomatosApp.category.product">Product</span></dt>
                <dd>
                    <span *ngFor="let product of category.products; let last = last">
                        <a [routerLink]="['/product', product?.id, 'view']">{{ product.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="spaghettomatosApp.category.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="category.parent">
                        <a [routerLink]="['/category', category.parent?.id, 'view']">{{ category.parent?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
