<h1 jhiTranslate="order-history.title">Your order history</h1>

<jhi-alert-error></jhi-alert-error>

<jhi-alert></jhi-alert>

<div id="no-result" *ngIf="requestFinished && dataSource.data && dataSource.data.length == 0">
    <mat-card class="spaghettwarn">
    <span jhiTranslate="spaghettomatosApp.productOrder.home.notFound">No productOrders found</span>
    </mat-card>
</div>

<table mat-table [dataSource]="dataSource" matSort *ngIf="dataSource && dataSource.data.length > 0">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <span jhiTranslate="spaghettomatosApp.productOrder.id">ID</span></th>
        <td mat-cell *matCellDef="let element">
            {{element.id}}
        </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> <span jhiTranslate="spaghettomatosApp.productOrder.confirmationDate">Confirmation Date</span></th>
        <td mat-cell *matCellDef="let element">
            {{element.creationDate | date:'medium'}}
        </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> <span jhiTranslate="spaghettomatosApp.productOrder.totalPrice">Total</span></th>
        <td mat-cell *matCellDef="let element">
            {{ totalSum(element) | number:'1.00'}} €
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> <span jhiTranslate="spaghettomatosApp.productOrder.status">Status</span></th>
        <td mat-cell *matCellDef="let element" jhiTranslate="{{ 'spaghettomatosApp.OrderStatus.' + element.status }}">
            {{ element.status }}
        </td>
    </ng-container>

    <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div class="btn-group right-cell">
                <button mat-raised-button color="primary" type="submit"
                        [routerLink]="['/product-order', element.id, 'view']"
                        class="btn btn-info btn-sm">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
