<h1 jhiTranslate="spaghettomatosApp.cart.title">Cart</h1>

<div id="no-result" *ngIf="requestFinished && dataSource.data && dataSource.data.length === 0">
    <mat-card class="spaghettwarn">
        <span jhiTranslate="spaghettomatosApp.cart.empty">Oops, your cart is empty</span>
    </mat-card>
</div>

<div *ngIf="requestFinished && dataSource.data && dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell class="justifiedColumn imageColumn"  *matCellDef="let element">
                <a matTooltip="Consulter" [matTooltipPosition]="'below'" [routerLink]="['/product', element.product.id, 'view']">
                    <img src="{{element.product.imagePath}}">
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="spaghettomatosApp.cart.designation">designation</span>
            </th>
            <td mat-cell *matCellDef="let element">
                <a matTooltip="Consulter" [matTooltipPosition]="'after'" [routerLink]="['/product', element.product.id, 'view']">{{
                    element.product.name }}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef >
                <span jhiTranslate="spaghettomatosApp.cart.unitPrice">unitPrice</span>
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.product.price }} €
            </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>
                <span jhiTranslate="spaghettomatosApp.cart.quantity">quantity</span>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-form-field appearance="standard">
                    <label>
                        <input matInput type="number" placeholder="Ex: 5" [formControl]="getFormQuantity(element!.id!.toString())"
                            min="1">
                    </label>
                    <mat-error *ngIf="quantityControl.invalid" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">Minimum
                        : 1</mat-error>
                </mat-form-field>

                <button mat-icon-button class="spaghettsuccesslight" aria-label="change quantity" (click)="changeQuantity(element)">
                    <mat-icon>done</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef >
                <span jhiTranslate="spaghettomatosApp.cart.totalPrice">totalPrice</span>
            </th>
            <td mat-cell *matCellDef="let element">
                {{multiplyBy( element!.quantity! , element.product!.price!) | number:'1.00'}} €
            </td>
        </ng-container>

        <ng-container matColumnDef="delete" class="text-right">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <a matTooltip="Supprimer" [matTooltipPosition]="'after'">
                    <button mat-icon-button class="spaghetterrorlight" aria-label="delete article" (click)="removeFromCart(element)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div id="confirmPanier">
        <div id="text">
            <div>
                <h6>{{getNbArticles()}} article(s)</h6>
            </div>
            <div>
                <h4>Total panier</h4>
            </div>
            <div>
                <h5>{{totalSum(cart!) | number:'1.00'}} €</h5>
            </div>
        </div>
        <button mat-raised-button color="primary" class="btn btn-primary btn-center" jhiTranslate="spaghettomatosApp.cart.makePurchase"
                routerLink="/cart/payment">Passer la commande</button>
    </div>
    <div>
        <button mat-raised-button color="primary" class="btn btn-primary btn-left"
                routerLink="/">
            <fa-icon icon="chevron-left"></fa-icon>
            <span jhiTranslate="spaghettomatosApp.cart.backToProductList">Back to product list</span>
        </button>
    </div>
</div>
