<h1>Paiement</h1>

<jhi-alert-error></jhi-alert-error>

<jhi-alert></jhi-alert>

<div id="no-result" *ngIf="requestFinished && (!cart || !cart.orderLines || cart?.orderLines?.length === 0)">
    <mat-card class="spaghettwarn">
        <span jhiTranslate="spaghettomatosApp.cart.empty">Oops, your cart is empty</span>
    </mat-card>
</div>

<div *ngIf="requestFinished && cart && cart!.orderLines!.length! > 0">

    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
            <div>
                <h2>Récapitulatif</h2>

                <div>
                    <h6>{{getNbArticles()}} article(s)</h6>
                    <h6>Montant {{sum | number:'1.00'}} €</h6>
                    <br>
                    <h6>Livraison offerte!</h6>
                    <h6>TOTAL {{sum | number:'1.00'}} €</h6>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2><mat-icon>payment</mat-icon> Informations bancaires</h2>

                <form [formGroup]="ccForm" (ngSubmit)="confirmCart()">
                    <mat-form-field appearance="outline" style="width: 260px">
                        <mat-label>Numéro de carte</mat-label>
                        <input formControlName="ccNumber" matInput required placeholder="0000 0000 0000 0000">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 110px">
                        <mat-label>Expiration</mat-label>
                        <input formControlName="ccDate" matInput required placeholder="MM/YY">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" style="width: 70px">
                        <mat-label>CCV</mat-label>
                        <input formControlName="ccv" matInput required placeholder="000">
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" class="btn btn-primary"
                            >Procéder au paiement
                    </button>
                </form>
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</div>

