<h1 jhiTranslate="spaghettomatosApp.cart.confirmed">Your command has been confirmed</h1>


<button mat-raised-button color="primary" [routerLink]="['']" jhiTranslate="global.back-to-home">Back to home page</button>
