<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2 jhiTranslate="password.title" [translateValues]="{ username: account.login }">Password</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="form-group">

                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.currentpassword.label">Current password</mat-label>
                        <input matInput id="currentPassword" name="currentPassword" formControlName="currentPassword" [type]="hideOldPassword ? 'password' : 'text'">
                        <button mat-icon-button type="button" matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
                            <span *ngIf="hideOldPassword"> <fa-icon icon="eye-slash" ></fa-icon> </span>
                            <span *ngIf="!hideOldPassword"><fa-icon icon="eye" ></fa-icon> </span>
                        </button>
                    </mat-form-field>

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.newpassword.label">New password</mat-label>
                        <input matInput id="newPassword" name="newPassword" formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
                        <button mat-icon-button type="button" matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                            <span *ngIf="hideNewPassword"> <fa-icon icon="eye-slash" ></fa-icon> </span>
                            <span *ngIf="!hideNewPassword"><fa-icon icon="eye" ></fa-icon> </span>
                        </button>
                    </mat-form-field>

                    <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.confirmpassword.label">New password confirmation</mat-label>
                        <input matInput id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" [type]="hideConfirmation ? 'password' : 'text'">
                        <button mat-icon-button type="button" matSuffix (click)="hideConfirmation = !hideConfirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmation">
                            <span *ngIf="hideConfirmation"> <fa-icon icon="eye-slash" ></fa-icon> </span>
                            <span *ngIf="!hideConfirmation"><fa-icon icon="eye" ></fa-icon> </span>
                        </button>
                    </mat-form-field>

                    <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button mat-flat-button type="button" color="primary" jhiTranslate="password.form.cancel"
                        [routerLink]="['/account/settings']">Cancel</button>
                <button  mat-flat-button type="submit" color="primary" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="password.form.button">Save</button>
            </form>
        </div>
    </div>
</div>
