<div class="app-toolbar">
    <router-outlet name="navbar"></router-outlet>
</div>

<div class="product-list">
    <div>
        <router-outlet></router-outlet>
    </div>

    <jhi-footer></jhi-footer>
</div>
