<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="orderLine">
            <h2><span jhiTranslate="spaghettomatosApp.orderLine.detail.title">Order Line</span> {{ orderLine.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spaghettomatosApp.orderLine.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ orderLine.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="spaghettomatosApp.orderLine.product">Product</span></dt>
                <dd>
                    <div *ngIf="orderLine.product">
                        <a [routerLink]="['/product', orderLine.product?.id, 'view']">{{ orderLine.product?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="spaghettomatosApp.orderLine.productOrder">Product Order</span></dt>
                <dd>
                    <div *ngIf="orderLine.productOrder">
                        <a [routerLink]="['/product-order', orderLine.productOrder?.id, 'view']">{{ orderLine.productOrder?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order-line', orderLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
            
        </div>
    </div>
</div>
