<div>
    <h2 id="page-heading">
        <span jhiTranslate="spaghettomatosApp.orderLine.home.title">Order Lines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-line" [routerLink]="['/order-line/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="spaghettomatosApp.orderLine.home.createLabel">
            Create a new Order Line
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="orderLines?.length === 0">
        <span jhiTranslate="spaghettomatosApp.orderLine.home.notFound">No orderLines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="orderLines && orderLines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="spaghettomatosApp.orderLine.quantity">Quantity</span></th>
                    <th scope="col" ><span jhiTranslate="spaghettomatosApp.orderLine.product">Product</span></th>
                    <th scope="col" ><span jhiTranslate="spaghettomatosApp.orderLine.productOrder">Product Order</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let orderLine of orderLines ;trackBy: trackId">
                    <td><a [routerLink]="['/order-line', orderLine.id, 'view']">{{ orderLine.id }}</a></td>
                    <td>{{ orderLine.quantity }}</td>
                    <td>
                        <div *ngIf="orderLine.product">
                            <a [routerLink]="['/product', orderLine.product?.id, 'view']" >{{ orderLine.product?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="orderLine.productOrder">
                            <a [routerLink]="['/product-order', orderLine.productOrder?.id, 'view']" >{{ orderLine.productOrder?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/order-line', orderLine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/order-line', orderLine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(orderLine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
