table {
  width: 100%;
}

img {
  width: 90%;
  height: auto;
}

.imageColumn {
  width: 15%;
  height: auto;
}

.justifiedColumn {
  text-align: center;
  justify-content: center;
}

#confirmPanier {
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 50px;
}

#text {
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 20px;
}
