<div *ngIf="productOrder">
    <h2><span jhiTranslate="spaghettomatosApp.productOrder.detail.title">Product Order</span>
        n°{{ productOrder.id }}</h2>

    <hr>

    <jhi-alert-error></jhi-alert-error>

    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="spaghettomatosApp.productOrder.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{ productOrder.creationDate | date:'medium' }}</span>
        </dd>
        <dt><span jhiTranslate="spaghettomatosApp.productOrder.status">Status</span></dt>
        <dd>
                    <span
                        jhiTranslate="{{ 'spaghettomatosApp.OrderStatus.' + productOrder.status }}">{{ productOrder.status }}</span>
        </dd>
        <dt><span *jhiHasAnyAuthority="'ROLE_ADMIN'"
                  jhiTranslate="spaghettomatosApp.productOrder.customer">Customer</span>
        </dt>
        <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <div *ngIf="productOrder.customer">
                <a [routerLink]="['/customer', productOrder.customer?.id, 'view']">{{ productOrder.customer?.id }}</a>
            </div>
        </dd>
    </dl>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productOrder.orderLines?.length === 0">
        <span jhiTranslate="spaghettomatosApp.orderLine.home.notFound">No orderLines found</span>
    </div>

    <div *ngIf="requestFinished && dataSource.data && dataSource.data.length > 0">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell class="imageColumn justifiedColumn" *matCellDef="let element">
                    <a matTooltip="Consulter" [matTooltipPosition]="'below'"
                       [routerLink]="['/product', element.product.id, 'view']">
                        <img src="{{element.product.imagePath}}">
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="spaghettomatosApp.cart.designation">designation</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <a matTooltip="Consulter" [matTooltipPosition]="'after'"
                       [routerLink]="['/product', element.product.id, 'view']">{{
                        element.product.name }}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="spaghettomatosApp.cart.unitPrice">unitPrice</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{ element.product.price }} €
                </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="spaghettomatosApp.cart.quantity">quantity</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{element.quantity}}
                </td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef>
                    <span jhiTranslate="spaghettomatosApp.cart.totalPrice">totalPrice</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    {{multiplyBy(element!.quantity!, element.product!.price!) | number:'1.00'}} €
                </td>
            </ng-container>

            <ng-container matColumnDef="delete" class="text-right" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <a matTooltip="Supprimer" [matTooltipPosition]="'after'">
                        <button mat-icon-button class="spaghetterrorlight" aria-label="delete article" (click)="delete(element)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div id="confirmPanier">
            <div id="text">
                <div>
                    <h6>{{dataSource.data.length}} article(s)</h6>
                </div>
                <div>
                    <h4>Total commande</h4>
                </div>
                <div>
                    <h5>{{totalSum(productOrder!) | number:'1.00'}} €</h5>
                </div>
            </div>
        </div>
    </div>



    <button mat-raised-button color="primary" type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

    <button mat-raised-button color="primary" *jhiHasAnyAuthority="'ROLE_ADMIN'"
            type="button"
            [routerLink]="['/product-order', productOrder.id, 'edit']"
            class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
    </button>
</div>


