<div class="row justify-content-center">
    <div class="col-8">

        <form novalidate role="form" [formGroup]="editForm">
            <h1>Ajouter produit</h1>
            <hr>

                <div id="bloc-product">
                    <h2>Produit</h2>
                    <div class="form-group" [hidden]="!editForm.get('id')!.value">
                        <mat-form-field>
                            <mat-label>ID</mat-label>
                            <input matInput id="id" name="id" formControlName="id" readonly />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput name="name" id="name" formControlName="name">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Stock Quantity</mat-label>
                            <input matInput type="number" min="0" name="stockQuantity" id="stockQuantity" formControlName="stockQuantity">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Price</mat-label>
                            <input matInput type="number" step="0.01" min="0" name="price" id="price" formControlName="price">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="id" name="description" id="description" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label> Image Path</mat-label>
                            <input matInput placeholder="img/exampleImg.png" name="imagePath" id="imagePath" formControlName="imagePath">
                        </mat-form-field>
                    </div>
                </div>
                <div id="bloc-category">
                    <h3>Categorie du produit</h3>
                        <div id="list-category">
                            <jhi-list-category (sendRequestToData)="processReq($event)" [categoryParent]="materials" [isMaterial]="true" [isUpdate]="editForm.get('id')!.value" [categoriesTreeUpdate]="categoriesTree"></jhi-list-category>
                        </div>
                </div>
            <div id="buttons">
                <button mat-flat-button id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button mat-flat-button color="primary" type="submit" id="save-product" [disabled]="editForm.invalid || isSaving" (click)="save()">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>

</div>
