div#bloc-product {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
div#bloc-category {
  margin-left: 100px;
  display: inline-block;
  vertical-align: top;
}

div#buttons {
  margin-top: 20px;
  margin-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

textarea {
  height: 100px;
}
