div#child-category {
  //margin-left: 100px;
}

span {
  position: relative;
  font-size: 50px;
  top: -10px;
}

div.child-category {
  margin-left: 80px;
}

div#buttons {
  vertical-align: middle;
}

::ng-deep #choose-child {
  height: 0px;
}
