<div xmlns="http://www.w3.org/1999/html">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
                <strong>Registration saved!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">

                <div class="form-group">
                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.firstname.label">Firstname</mat-label>
                        <input matInput formControlName="firstName">
                    </mat-form-field>

                </div>


                <div class="form-group">
                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.name.label">Lastname</mat-label>
                        <input matInput formControlName="lastName">
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.email.label">Email</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>

                    <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.invalid"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('email')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <mat-form-field class="from-mat-field" color="primary" appearance="legacy">
                        <mat-label jhiTranslate="global.form.birthday.label">Birthday date</mat-label>
                        <input id="birthdayDate" formControlName="birthdayDate" matInput [max]="maxDate" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker color="primary"></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.password.label">Enter your password</mat-label>
                        <input matInput id="password" name="password" formControlName="password" [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <span *ngIf="hide"> <fa-icon icon="eye-slash" ></fa-icon> </span>
                            <span *ngIf="!hide"><fa-icon icon="eye" ></fa-icon> </span>
                        </button>
                    </mat-form-field>

                    <div *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('password')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 25 characters.
                        </small>
                    </div>

                </div>

                <div class="form-group">
                    <mat-form-field class="from-mat-field" appearance="legacy">
                        <mat-label jhiTranslate="global.form.passwordconfirmation.label">Password confirmation</mat-label>
                        <input matInput type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" [type]="hide2 ? 'password' : 'text'">
                        <button mat-icon-button type="button" matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide confirmPassword'" [attr.aria-pressed]="hide2">
                            <span *ngIf="hide2"> <fa-icon icon="eye-slash" ></fa-icon> </span>
                            <span *ngIf="!hide2"><fa-icon icon="eye" ></fa-icon> </span>
                        </button>
                    </mat-form-field>

                    <div *ngIf="registerForm.get('confirmPassword')!.invalid && (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 25 characters.
                        </small>
                    </div>
                </div>

                <button mat-flat-button type="submit" color="primary" [disabled]="registerForm.invalid" jhiTranslate="register.form.button">Register</button>
            </form>

            <div class="mt-3 alert alert-warning">
                <span jhiTranslate="global.messages.info.legal.personnaldata">personnaldata</span>
            </div>

        </div>
    </div>
</div>
