@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* Material Styles */

.title-link {
  color: white;
}

.title-link:hover {
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-form {
  justify-items: center;
  justify-content: center;
  text-align: center;
  width: 240px;
}
