<mat-toolbar color="primary">
    <!-- Title -->
    <a routerLink="/" class="title-link">
        <span jhiTranslate="global.title">Spaghettomatos</span>
    </a>
    <span class="example-spacer"></span>
    <!-- Cart button -->
    <button mat-button aria-label="Cart navbar button"
            *jhiHasAnyAuthority="'ROLE_USER'" routerLink="cart">
        <fa-icon icon="shopping-cart" ></fa-icon>
        <span jhiTranslate="global.menu.cart"
              matBadge="{{cartSize}}" matBadgeColor="warn"
              [matBadgeHidden]="cartSize <= 0" matBadgeOverlap="false" matBadgeSize="medium">
            Cart
        </span>
    </button>
    <!-- Entities button -->
    <button mat-button *jhiHasAnyAuthority="'ROLE_ADMIN'" [matMenuTriggerFor]="entities">
        <fa-icon icon="th-list"></fa-icon>
        <span jhiTranslate="global.menu.entities.main">
            Entities
        </span>
    </button>
    <!-- Administration button -->
    <button mat-button *jhiHasAnyAuthority="'ROLE_ADMIN'" [matMenuTriggerFor]="administration">
        <fa-icon icon="user-plus"></fa-icon>
        <span jhiTranslate="global.menu.admin.main">Administration</span>
    </button>
    <!-- Account button -->
    <button mat-button *ngIf="isAuthenticated()" [matMenuTriggerFor]="account">
        <fa-icon icon="user"></fa-icon>
        <span jhiTranslate="global.menu.account.main">Account</span>
    </button>
    <!-- Sign in button -->
    <button mat-button *ngIf="!isAuthenticated()" [matMenuTriggerFor]="login" (menuOpened)="menuOpened()" #signInMenuTrigger="matMenuTrigger">
        <fa-icon icon="sign-in-alt"></fa-icon>
        <span jhiTranslate="global.menu.account.login">Sign in</span>
    </button>
    <!-- Register button -->
    <button mat-button *ngIf="!isAuthenticated()" routerLink="account/register">
        <fa-icon icon="user-plus"></fa-icon>
        <span jhiTranslate="global.menu.account.register">Register</span>
    </button>

</mat-toolbar>

<!-- Entities drop down menu -->
<mat-menu #entities="matMenu">
    <!-- Customer button -->
    <button mat-menu-item routerLink="customer">
        <fa-icon icon="asterisk"></fa-icon>
        <span jhiTranslate="global.menu.entities.customer">Customer</span>
    </button>
    <!-- Product order button -->
    <button mat-menu-item routerLink="product-order">
        <fa-icon icon="asterisk"></fa-icon>
        <span jhiTranslate="global.menu.entities.productOrder">Product Order</span>
    </button>
    <!-- Order line button
    <button mat-menu-item routerLink="order-line">
        <fa-icon icon="asterisk"></fa-icon>
        <span jhiTranslate="global.menu.entities.orderLine">Order Line</span>
    </button> -->
    <!-- product button -->
    <button mat-menu-item routerLink="product">
        <fa-icon icon="asterisk"></fa-icon>
        <span jhiTranslate="global.menu.entities.product">Product</span>
    </button>
    <!-- category button -->
    <button mat-menu-item routerLink="category">
        <fa-icon icon="asterisk"></fa-icon>
        <span jhiTranslate="global.menu.entities.category">Category</span>
    </button>
</mat-menu>

<!-- Administration drop down menu -->
<mat-menu #administration="matMenu">
    <!-- User management button -->
    <button mat-menu-item routerLink="admin/user-management">
        <fa-icon icon="user"></fa-icon>
        <span jhiTranslate="global.menu.admin.userManagement">User management</span>
    </button>
    <!-- Metrics button -->
    <button mat-menu-item routerLink="admin/metrics">
        <fa-icon icon="tachometer-alt"></fa-icon>
        <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
    </button>
    <!--Health button -->
    <button mat-menu-item routerLink="admin/health">
        <fa-icon icon="heart"></fa-icon>
        <span jhiTranslate="global.menu.admin.health">Health</span>
    </button>
    <!-- Configuration button -->
    <button mat-menu-item routerLink="admin/configuration">
        <fa-icon icon="list"></fa-icon>
        <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
    </button>
    <!-- Audits button -->
    <button mat-menu-item routerLink="admin/audits">
        <fa-icon icon="bell"></fa-icon>
        <span jhiTranslate="global.menu.admin.audits">Audits</span>
    </button>
    <!-- Logs button -->
    <button mat-menu-item routerLink="admin/logs">
        <fa-icon icon="tasks"></fa-icon>
        <span jhiTranslate="global.menu.admin.logs">Logs</span>
    </button>
    <!-- Docs button -->
    <button *ngIf="swaggerEnabled" mat-menu-item routerLink="admin/docs">
        <fa-icon icon="book"></fa-icon>
        <span jhiTranslate="global.menu.admin.apidocs">API</span>
    </button>
    <!-- Database button -->
    <button *ngIf="!inProduction" mat-menu-item>
        <a href='./h2-console' target="_tab">
            <fa-icon icon="hdd"></fa-icon>
            <span jhiTranslate="global.menu.admin.database">Database</span>
        </a>
    </button>
</mat-menu>

<!-- Account drop down menu -->
<mat-menu #account="matMenu">
    <!-- Settings button -->
    <button mat-menu-item routerLink="account/settings">
        <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
        <span jhiTranslate="global.menu.account.settings">Settings</span>
    </button>
    <!-- Password button -->
    <!--<button mat-menu-item routerLink="account/password">
        <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
        <span jhiTranslate="global.menu.account.password">Password</span>
    </button>-->
    <!-- Order history button -->
    <button mat-menu-item *jhiHasAnyAuthority="'ROLE_USER'" routerLink="order-history">
        <fa-icon icon="align-left" [fixedWidth]="true"></fa-icon>
        <span jhiTranslate="global.menu.account.history">Order history</span>
    </button>
    <!-- Log out button -->
    <button mat-menu-item (click)="logout()">
        <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
        <span jhiTranslate="global.menu.account.logout">Sign out</span>
    </button>
</mat-menu>

<!-- Login drop down menu -->
<mat-menu #login="matMenu">
    <div class="menu-form" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
        <div>
            <form class="form" role="form" (ngSubmit)="loginf()" [formGroup]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ="loginForm">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label jhiTranslate="global.form.username.label">Login</mat-label>
                        <input matInput formControlName="username" #username>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label jhiTranslate="login.form.password">Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>

                <div>
                    <button mat-flat-button type="submit" color="primary" jhiTranslate="login.form.button">Sign in</button>
                </div>

                <div>
                    <mat-checkbox color="primary">
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </mat-checkbox>
                </div>
            </form>
        </div>

        <mat-divider></mat-divider>
        <div>
            <a (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Forgot your password?</a>
        </div>
        <mat-divider></mat-divider>
        <div>
            <span jhiTranslate="global.messages.info.register.noaccount">Don't have an account yet?</span>
        </div><div>
            <a (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
    </div>
</mat-menu>

<!-- Old code for changing language
 <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
                    <span>
                        <fa-icon icon="flag"></fa-icon>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{ language | findLanguageFromKey }}</a>
                    </li>
                </ul>
            </li>
-->
