

<!--
<div [ngSwitch]="isAuthenticated()">
    <div class="alert alert-success" *ngSwitchCase="true">
            <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                  [translateValues]="{ firstName: account.firstName, lastName: account.lastName }">Welcome, {{ account.firstName }} {{ account.firstName }}.</span>
    </div>
</div>
-->

<h2 jhiTranslate="spaghettomatosApp.product.home.title"> Our products</h2>
<mat-divider></mat-divider>
<h4 *ngIf="dataSource && dataSource.data">{{paginatorLength}} <span jhiTranslate="spaghettomatosApp.product.found">product found</span></h4>


<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div id="filter" >
            <jhi-search-filter [category]="categoryTree" [isRoot]="true" (sendRequestToData)="processReq($event)"></jhi-search-filter>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell class="justifiedColumn imageColumn" *matCellDef="let element">
                        <a matTooltip="Consulter" [matTooltipPosition]="'below'" [routerLink]="['/product', element.id, 'view']">
                            <img src="{{element.imagePath}}">
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span jhiTranslate="spaghettomatosApp.product.name">name</span></th>
                    <td mat-cell *matCellDef="let element">
                        <a matTooltip="Consulter" [matTooltipPosition]="'after'" [routerLink]="['/product', element.id, 'view']">{{element.name}}</a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="stockQuantity">
                    <th mat-header-cell *matHeaderCellDef ></th>
                    <td mat-cell class="justifiedColumn" *matCellDef="let element">
                        <div *ngIf="element.stockQuantity > 0">
                            <span id="inStock" jhiTranslate="spaghettomatosApp.product.inStock">In stock</span>
                        </div>
                        <div *ngIf="element.stockQuantity <= 0">
                            <span id="outOfStock" jhiTranslate="spaghettomatosApp.product.outOfStock">Out of stock</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> <span jhiTranslate="spaghettomatosApp.product.price">price</span></th>
                    <td mat-cell *matCellDef="let element">
                        {{element.price}}
                        <span jhiTranslate="spaghettomatosApp.product.dollar">$</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="addCartButton" >
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-fab  *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN')"
                                [disabled]="element.stockQuantity <= 0" color="primary" (click)="addToCart(element)"
                                matTooltip="Ajouter au panier" [matTooltipPosition]="'after'" [matTooltipDisabled]="element.stockQuantity <= 0">
                            <span><fa-icon icon="shopping-cart"></fa-icon></span>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-paginator [pageSizeOptions]="[5, 10, 50]" [length]="paginatorLength" showFirstLastButtons ></mat-paginator>


