/* ==========================================================================
Main page styles
========================================================================== */

img {
  width: 90%;
  height: auto;
}

.imageColumn {
  width: 15%;
  height: auto;
}

table {
  width: 100%;
}

#inStock {
  font-weight: bold;
  color: #2bb717;
}

#outOfStock {
  font-weight: bold;
  color: #da0000;
}

#filter {
  min-width: 180px;
}

.justifiedColumn {
  text-align: center;
  justify-content: center;
}

mat-sidenav {
  padding-top: 60px;
  padding-right: 5px;
}

mat-sidenav-container {
  min-height: 700px;
}

mat-paginator {
  vertical-align: bottom;
}
