<div *ngIf="product">
    <mat-grid-list cols="2" rowHeight="700px">
        <mat-grid-tile col>
            <div>
                <img src="{{product.imagePath}}">
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div id="description">
                <h2><span>{{ product.name }}</span></h2>
                <div>

                </div>
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="spaghettomatosApp.product.stockQuantity">Quantity</span></dt>
                    <dd>
                        <span>{{ product.stockQuantity }}</span>
                    </dd>
                    <dt><span jhiTranslate="spaghettomatosApp.product.price">Price (€)</span></dt>
                    <dd>
                        <span>{{ product.price }}</span>
                    </dd>
                    <dt><span jhiTranslate="spaghettomatosApp.product.description">Description</span></dt>
                    <dd>
                        <span>{{ product.description }}</span>
                    </dd>
                </dl>
                <hr>
                <div id="fiche-technique" *ngIf="category">
                    <h2>{{ category.name }}</h2>
                    <jhi-category-diplay [category]="category"></jhi-category-diplay>
                </div>
                <hr>

                <button mat-raised-button color="primary" (click)="previousState()">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>

            <button mat-raised-button color="primary"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/create-product', product.id, 'edit']">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <mat-form-field appearance="standard" *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN') && (product?.stockQuantity || 0) > 0">
                <mat-label jhiTranslate="global.form.cart.quantity">Quantity</mat-label>
                <label>
                    <input matInput type="number" placeholder="Ex: 5" [formControl]="quantityControl" min="1">
                </label>
                <mat-error *ngIf="quantityControl.invalid" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">Minimum : 1</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" *ngIf="!accountService.hasAnyAuthority('ROLE_ADMIN')" [disabled]="(product?.stockQuantity || 0) <= 0" (click)="addToCart(product)" jhiTranslate="entity.action.addToCart">Add to Cart</button>

            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
